@media (max-width: 768px) {
    header {
        height: 40px;
        padding: 5px 10px;
    }
  
    .left-content h1 {
        font-size: 18px;
    }
  
    .right-content {
        flex-direction: row;
    }
  
    .user-info {
        font-size: 12px;
    }
  
    .contact-button {
        padding: 6px 12px;
        font-size: 12px;
    }
  
    .logo-container {
        gap: 2px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
  
    .logo {
        max-width: 220px;
        height: auto;
    }
  
    .logo-2 {
        max-width: 200px;
        height: auto;
    }
  
    body::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
  
    body.show-overlay::after {
        opacity: 1;
        visibility: visible;
    }
  }