/* Responsive Styles */
@media (max-width: 768px) {
    header {
        height: 40px; /* Reduced height for mobile */
        padding: 5px 10px; /* Reduced padding for mobile */
    }
  
    .left-content h1 {
        font-size: 18px; /* Adjusted font size for mobile */
    }
  
    .right-content {
        flex-direction: row; /* Ensure row direction on mobile */
    }
  
    .user-info {
        font-size: 12px; /* Adjusted font size for mobile */
    }
  
    .contact-button {
        padding: 6px 12px; /* Adjusted padding for mobile */
        font-size: 12px; /* Adjusted font size for mobile */
    }
  
    .contact-popup {
        padding: 15px;
    }
  
    .contact-popup h2 {
        font-size: 1.3em;
    }
  
    .contact-popup p {
        font-size: 0.9em;
    }
  
    .phone-number {
        font-size: 1.1em;
    }
  
    .close-popup {
        top: -20px;
        right: -10px;
        width: 25px;
        height: 25px;
        font-size: 20px;
    }
  
    .logo-container {
        gap: 2px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
  
    .logo {
        max-width: 220px;
        height: auto;
    }
  
    .logo-2 {
        max-width: 200px;
        height: auto;
    }
  }

  /* Media query for mobile devices */
@media (max-width: 768px) {
  .description-section {
      justify-content: flex-start; /* Align content to the left */
      padding-left: 20px; /* Add some padding on the left */
  }
  .content {
      text-align: center; /* Ensure text is left-aligned on mobile */
      margin: 0; /* Remove auto margin to allow full width */
  }
}